h1 {
    margin: 2% 0;
}

.loader-container {
    font-weight: 700;
    margin-top: 23%;
    text-align: center;
}

.user-card {
    margin-bottom: 5%;
}

.users-container {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}